@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
header {
    text-align: center;
    color: white;
    background-color: black;
    padding: 35px;
}
header h1 {
    font-family: 'Passion One';
    font-size: 7vw;

}
header p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;

}
main p {
    font-family: 'Sriracha';
    font-size: 5vw;
    margin: 20px 40px -20px  ;
}
.primeiro {
    margin-top: 5px;
}
.ultimo {
    margin-bottom: 120px;
}
.imagem > p {
    background-color: rgba(0, 0, 0, 0.568);
    color: white;
    font-size: 3.8vw;
    width: 48vw;
    padding-left: 5px;
    padding-right: 5px;
}
#img1 {
    background-image: url('imagens/background001.jpg');
}
#img2 {
    background-image: url('imagens/background002.jpg');
}
.imagem {
    background: black right center no-repeat fixed;
    background-size: cover;
    padding: 10vh 0px;

}
section {
    padding: 10vh 50px 
}
.espacamento {
    padding-top: 120px;
}
footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5em;
    margin-top: 100px;
}